#flashes {
  position: relative;
  z-index: 10;
  .alert {
    -webkit-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
    transition: top 0.5s ease;
    &.alert-overlay {
      //position: absolute;
      left: 10px;
      right: 10px;
      top: 0;
    }
    &.has-timeout {
      .progress {
        position: absolute;
        height: 2px;
        left: 0;
        right: 0;
        bottom: -20px;
      }
    }
  }
}